@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Anek Tamil', sans-serif;
    background-color: #0eb9e6;
    color: #fff;
}
#nav {
    display: flex;
    justify-content: center;
    margin: 2rem;
    color: #d98818;
    font-size: 60px;
}
#header {
    display: flex;
    justify-content: center;
    margin: 2rem;
    color: #00000090;
}
#main {
    display: flex;
    justify-content: center;
}
#div1 {
    margin: 2rem;
}
#div2 {
    margin: 2rem;
}
#div3 {
    margin: 2rem;
}
#form {
    margin: 2rem;
}
#real {
    background-color: #fff;
    color: #000000;
    border-radius: 25px;
    padding: 0.2rem;
    width: 6rem;
    border: 4px solid #d98818;
    transition-duration: 0.4s;
}
#real:hover {
    border: 4px solid #78f00e;
    color: #00000090;
}
#convertor {
    font-size: 1rem;
    padding: 0.3rem;
    border-radius: 15px;
    background-color: #d98818;
    color: #00000090;
    transition-duration: 0.4s;
    cursor: pointer;
}
#convertor:hover {
    background-color: #78f00e;
    color: #000000;
}
#coin {
    margin: 1rem;
}
#change {
    font-size: 1rem;
    padding: 0.3rem;
    border-radius: 15px;
    background-color: #d98818;
    color: #00000090;
    transition-duration: 0.4s;
    align-items: center;
    cursor: pointer;
}
#change:hover {
    background-color: #78f00e;
    color: #000000;
}
